p{
    font-size: 12px;
}
img{
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin: 5px 0px;
}
h2{
    margin: 20px 0px;
    font-size: 25px;
}
h5{
    margin: 10px 0px;
    font-size: 20px;
}
h4{
    margin: 0px 0px 5px 0px;
}